

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background: #E4E7EA;
  font-size: 11px;
}
footer {
	text-align: center;
	margin-top: 50px;
}
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

.error {
  color: red;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #888;
}
.submit-addon .glyphicon {
	position: absolute;
  	padding: 10px;
  	pointer-events: none;
  	color: #888;
  	z-index: 999;
}
.submit-addon .glyphicon { right: 185px; }
/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

#form-login input.btn {
	border: 1px solid rgba(0,0,0,.06);
	text-shadow: 0 1px 0 #fff;
	background: #f5f5f5;
	border-radius: 4px;
	color: #888;	
}

#form-login input.btn:hover {
	background: #fff;
}
#form-login .form-horizontal .form-group {
 
}
.form-wrapper {
	margin: 50px 0px;
}

.form-panel-box {
  padding: 15px;
  background: #fafafa;
  color: #444;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 45%;
  margin: auto;
}
.logo-wrapper {
	text-align: center;
	margin: 20px;
}
.logo-wrapper h1 {
  font-weight: 300;
  font-family: inherit;
}
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #1D2939;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
/*  padding-right: 20px;
  padding-left: 20px;*/
    color: #8F939E;
  padding: 5px 8px;
  display: block;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


.breadcrumbs h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.breadcrumbs {
  background: #F7F7F7;
  border-bottom: 1px solid #D3D7DB;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.section-wrapper {
  padding: 10px;
  background-color: #fff;
}

.panel-green {
  border-color: #5cb85c;
}

.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  padding: 15px;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 20px 10px;
}
.customers-info ul {
  text-align: center;
}
.customers-info ul li {
  margin: 5px 0px;
}
.customers-info ul li a {
  width: 250px;
}

table#customers .btn-primary,
table#customers .btn-danger {
  width: 100px;
  margin: 5px 0px;
}

table#customers {
      border-left: none;
    border-right: none;
}

.customers-view-info .form-group {
  width: 100%;
  margin: 5px 0px;
}

.customers-view-info .control-label {
  font-size: 14px;
  font-weight: 700;
    min-width: 30%;
}

.customers-view-info .form-control-static {
    min-width: 60%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* Tab Navigation */
.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;    
}
.nav-tabs > li > a {
    background: #DADADA;
    border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #F5F5F5;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

/* Tab Content */
.tab-pane {
    background: #F5F5F5;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
/*    text-align: center;*/
    padding: 10px;
}

.twitter-typeahead{
width:100%;
}
.tt-hint {
visibility:hidden;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-dropdown-menu {
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  width:100%;        
}

.tt-suggestion {
  display: block;
  padding: 6px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

select.search_init.select_filter.form-control {
  font-size:  11px;
}

.bold {
  font-weight: bold;
  color: #12A5F4;
}

form#editcustomers input[name='firstname'],
form#editcustomers input[name='middle_name'],
form#editcustomers input[name='lastname'] {
  text-transform: capitalize;
}

.btn-actions li button {
  width: 120px;
}

.offset-top  {
  margin-top: 15px;
}

select[name='users_length'],
#users_filter input,
select[name='customers-activity_length'],
#customers-activity_filter input,
select[name='logs_length'],
#logs_filter input,
select[name='customers_length'],
#customers_filter input[type='search'] {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.modal-header {
    min-height: 16.43px;
    padding: 5px 10px;
    text-align: right;
}

.close {
  float: none;
}

.file_name span {
  font-size: 16px;
  
}

.status-wrapper button {
  min-width: 100px;
}

.status-wrapper .btn-danger:disabled, .btn-danger[disabled],
.status-wrapper .btn-success:disabled, .btn-success[disabled] {
  background-color: gray;
  border-color: gray;
}